/* ==UserStyle==
@name           CoolTube - 2022 Rewrite
@namespace      github.com/erizur/cooltubecss
@version        1.0.2
@description    An userstyle to modify YouTube's current layout.
@author         AM_Erizur
==/UserStyle== */

@-moz-document domain("youtube.com") {
    .watch-active-metadata{
        background-color: var(--yt-spec-general-background-b);
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
        box-shadow: 2px 1px 5px 1px var(--yt-spec-general-background-c);
    }
}